/*
!.gitignore

!.cargo/
.cargo/*
!.cargo/config

!.config/
.config/*
!.config/dunst/
!.config/fastfetch/
!.config/hypr/
!.config/kitty/
!.config/mpv/
!.config/rofi/
!.config/waybar/
!.config/tealdeer/
!.config/yazi/
!.config/chrome-flags.conf
!.config/electron-flags.conf
!.config/locale.conf
!.config/user-dirs.dirs
!.config/dependence.sh

!.bashrc
!.inputrc

!applications.png
!clipboard.png
!float.png
!general.png

!README.md
