/*
!.gitignore

!.cargo/
.cargo/*
!.cargo/config

!.config/
.config/*
!.config/environment.d/
!.config/dunst/
!.config/fastfetch/
!.config/hypr/
!.config/mpv/
!.config/kitty/
!.config/rofi/
!.config/waybar/
!.config/tealdeer/
!.config/gtk-3.0/
!.config/qt6ct/
!.config/chrome-flags.conf
!.config/code-flags.conf
!.config/qq-flags.conf
!.config/electron-flags.conf
!.config/locale.conf
!.config/user-dirs.dirs
!.config/dependence.sh

!.bashrc
!.inputrc
!.bash_profile
!.gtkrc-2.0

!applications.png
!clipboard.png
!float.png
!general.png

!README.md
