* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-weight: bold;
  font-family: JetBrains Mono, HarmonyOS Sans SC;
  font-size: 14px;

}

window#waybar {
  background: rgba(92, 83, 109, 0);
}

tooltip {
  background: #1e1e2e;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces {
padding: 4px 5px;
  border-radius: 16px;
border: solid 0px #adfd85;
font-weight: normal;
font-style: normal;
}
#workspaces button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 16px;
  color: #2f354a;
  background-color: #2f354a;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #cdd6f4;
  background-color: #cdd6f4;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: #cdd6f4;
  color: #cdd6f4;
  border-radius: 16px;
min-width: 50px;
background-size: 400% 400%;
}

#custom-logo,
#taskbar,
#tray,
#custom-media,
.modules-center,
.modules-right {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  color: rgb(1, 45, 89);
  border-radius: 8px;
  font-weight: bold;
  margin: 10px 10px 0px 10px;
}

#custom-media {
  color: blue;
}

#custom-logo {
  color: blue;
}

#clock,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#upower,
#custom-dunst,
#custom-power {
  margin: 0px 5px;
}

#network {
  min-width: 200px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}